<!-- <div class="app-container">
  <h1>Wikidata Explorer</h1>
  
  <app-search (entitySelected)="onEntitySelected($event)"></app-search>
  
  <div *ngIf="selectedEntity" class="entity-container">
    <app-entity-view [entity]="selectedEntity"></app-entity-view>
  </div>
</div> -->

<div class="app-container">
  <h1>Wikidata Explorer</h1>
  <router-outlet></router-outlet>
</div>

<!-- <div class="app-container">
  <h1>Wikidata Explorer</h1>

  <app-search (entitySelected)="onEntitySelected($event)"></app-search>
  
  @if (selectedEntity) {
    <div class="entity-container">
      <app-entity-view [entity]="selectedEntity"></app-entity-view>
    </div>
  }
</div> -->